<div class="row justify-content-between">
    <div class="col-12 col-md-5">
        <h5>msg:</h5>
        <!-- <% if(msg.length) { msg.map((m, i)=>{ %> -->
        <p class="small"><%= i + 1 %>. <%= m %></p>
        <!-- <% })} %> -->
    </div>
    <div class="col-12 col-md-5">
        <h5>err:</h5>
        <!-- <% if(err.length) { err.map((e, i)=>{ %> -->
        <p class="small"><%= i + 1 %>. <%- e %></p>
        <!-- <% })} %> -->
    </div>
</div>